<app-content-card-container #container [title]="title">
  <app-content-card *ngFor="let cpu of cpus" [container]="container" saveKey="cpu" [obj]="cpu" cardHeight="14">
    <app-content-card-front>
      <h1>{{cpu.name}}</h1>
    </app-content-card-front>
    <app-content-card-back>
      <table>
        <tr>
          <td>Name</td>
          <td><b>{{cpu.platform.toUpperCase()}}</b> - {{cpu.name}}</td>
        </tr>
        <tr>
          <td>Core</td>
          <td>{{cpu.frequency}}GHz, {{cpu.cores}}-Core</td>
        </tr>
        <tr>
          <td>Benchmark</td>
          <td>{{cpu.benchmark}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{cpu.price}} CHF</td>
        </tr>
      </table>
    </app-content-card-back>
  </app-content-card>
</app-content-card-container>
